.idea/
.venv
.vscode
*.egg-info
dist/
build/
__pycache__/
*.pyc
clashroyalebuildabot/debug
clashroyalebuildabot/emulator/platform-tools
env/
crbab-venv/
KataCR_repo
test.py
Screenshot_2025.09.08_17.58.41.060.png